div p{
    border: 2px solid blue;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
}
/* now inspect and increase and decrease the sizes 
and check */
/* then copy this in style tag and change the color */
/* then copy the border in p tag */
/* -------------------------------------------- */
/* inline is written inside the tag itself
internal is written in the same file using the style tag
external is written using link tag.....


external is preferred always
in some rare cases we can go with inline or internal*/